@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <h2>this is my other header test</h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>hello world 123</p>



    <p> This is my new paragraph iansdo;ubn;dfub;sudbfalusbdgiusfabglisdufblsdiubflsdabf</p>

    
</div>


<p>new paragraph outside the div class</p>
<a href="https://localhost:7260/">my link </a>
<p><a href="https://localhost:7260/Privacy">Privacy Policy </a></p>
<p><a href="https://localhost:7260/testPage">testPage </a></p>
