@page
@model testPageModel
@{
}

@functions {
}

@{
}


<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>

    <form method = "post">

	    <h1>Addition Library Test</h1>
	    <p>
	    <input asp-for="numberToAdd" />
	    <span asp-validation-for="numberToAdd"></span>
	    </p>

	    <button type = "submit" class = "btn btn-primary" style="width:150px" asp-page-handler="Add">Add</button>
		@Model.numberResult
	</form>


</div>


