@page
@model testPageModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">testPage</h1>

    <p>hello this is test text</p>


    
</div>


