@page
@model testPageModel
@{
    ViewData["Title"] = "testPage";

}


<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>



</div>

<form method="post">

	<p>Temperature in Degrees Celsius to Degrees Fahrenheit Converter:</p>
	
	<input type="number" step="1e-4" id="txtTemperature" name="Temperature" min="-273.15" max="1.4e32" required/>
	<input type="submit" value="Convert" asp-page-handler="Convert"/>
</form>

<p>@ViewData["output"]</p>
