@page
@model testPageModel
@{
    ViewData["Title"] = "testPage";

}


<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>



</div>

<form method="post">

	<input type="text" id="txtTemperature" name="Temperature"/>
	<input type="submit" value="Convert" asp-page-handler="Convert"/>
</form>

<p>@ViewData["Temperature"]</p>
<p>@ViewData["TempF"]</p>
<p>@ViewData["output"]</p>
